@model DACHUYENNGANH.Models.BienLaiThuLai

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="BienLaiThuLais" asp-action="Edit">Biên Lai Thu Lãi</a></li>
                <li class="breadcrumb-item active">Thêm Biên Lai Thu Lãi</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Biên Lai Thu Lãi</h1>
        </div>
        <form asp-action="Create" class="card shadow" style="margin: auto; width: 80%; padding: 10px; padding: 2rem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Mã Hồ Sơ Vay</label>
                <select asp-for="IdHsvay" class="form-control" asp-items="ViewBag.IdHsvay"></select>
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Nhân Viên</label>
                <select asp-for="IdNhanVien" class="form-control" asp-items="ViewBag.IdNhanVien"></select>
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Tiền Gốc</label>
                <input type="text" class="form-control" asp-for="TienGoc">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Số Tiền Đóng</label>
                <input type="text" class="form-control" asp-for="SoTienDong">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Ngày Nhận Lãi</label>
                <input type="date" class="form-control" asp-for="NgayNhanLai">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Lãi Suất</label>
                <input type="text" class="form-control" asp-for="LaiSuat">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Dư Nợ</label>
                <input type="text" class="form-control" asp-for="DuNo">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Lãi Ký Kê</label>
                <input type="text" class="form-control" asp-for="LaiKyKe">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Góc Ký Kê</label>
                <input type="text" class="form-control" asp-for="GocKyKe">
            </div>
            <div class="form-group row">
                <div class="col-sm-10" style="line-height: 5; text-align: center;">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index">Trở Về</a>
            </div>
        </form>
    </main>
</div>

<style>

    .form-group {
        color: #1F618D;
        font-weight: bold;
        font-size: 15px;
    }
</style>