@model DACHUYENNGANH.Models.HoSoPhuongAnVay

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-controller="Home" asp-action="IndexUser" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-controller="HoSoPhuongAnVays" asp-action="Index">Hồ Sơ Phương Án Vay</a></li>
                <li class="breadcrumb-item active">Thay Đổi Thông Tin Hồ Sơ Phương Án Vay</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Thay Đổi Thông Tin Hồ Sơ Phương Án Vay</h1>
        </div>
        <form asp-action="Edit" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHspavay" />
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Mã Hồ Sơ Vay</label>
                <select asp-for="IdHsvay" class="form-control" asp-items="ViewBag.IdHsvay"></select>
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Phương Án Kinh Doanh</label>
                <input type="text" class="form-control" asp-for="PhuongAnKd">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Kế Hoạch Trả Nợ</label>
                <input type="text" class="form-control" asp-for="KeHoachTraNo">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Ngày Nhận Hồ Sơ</label>
                <input type="datetime" class="form-control" asp-for="NgayNhanHs">
            </div>
            <div class="form-group row">
                <div class="col-sm-10" style="line-height: 5; text-align: center;">
                    <button type="submit" class="btn btn-primary">Thay Đổi</button>
                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index">Trở Về</a>
            </div>
        </form>
    </main>
</div>



<style>

    .form-group {
        color: #1F618D;
        font-weight: bold;
        font-size: 15px;
    }
</style>