@model DACHUYENNGANH.Models.ChucVu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="ChucVus" asp-action="Index">Chức Vụ</a></li>
                <li class="breadcrumb-item active">Thông Tin Chức Vụ</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Thông Tin Chức Vụ</h1>
            <div class="card mb-4" class="card shadow" style="margin: auto; width: 80%; padding: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <table style="color: #1F618D;font-weight: bold; font-size: 15px;">
                            <tbody>
                                <tr>
                                    <td>Mã Chức Vụ: </td>
                                    <td style="padding:7px;">@Model.IdChucVu</td>
                                </tr>
                                <tr>
                                    <td>Tên Chức Vụ: </td>
                                    <td style="padding:7px;">@Model.TenChucVu</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="color: #1F618D;font-weight: bold; font-size: 15px;">
                <a asp-action="Edit" asp-route-id="@Model.IdChucVu">Edit</a> |
                <a asp-area="Admin" asp-action="Index">Trở Về</a>
            </div>
        </div>
    </main>
</div>

