
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Welcome @ViewBag.TenDangNhap</h1>

@if(ViewBag.IdChucVu == "NVIT1"){

    <a>Delete</a>

    <a>Edit</a>

}

