@model DACHUYENNGANH.Models.KhachHangCaNhan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-controller="Home" asp-action="IndexUser" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-controller="KhachHangCaNhans" asp-action="Index">Khách Hàng Cá Nhân</a></li>
                <li class="breadcrumb-item active">Thay Đổi Thông Tin Khách Hàng Cá Nhân</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Thay Đổi Thông Tin Khách Hàng Cá Nhân</h1>
        </div>
        <form asp-action="Edit" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Mã Số Thuế</label>
                <select asp-for="IdKhachHangNavigation.MaSoThue" class="form-control" asp-items="ViewBag.IdKhachHang"></select>
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Tên Khách Hàng</label>
                <input type="text" class="form-control" asp-for="TenKh">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Ngày Sinh</label>
                <input type="datetime" class="form-control" asp-for="NgaySinh">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Giới Tính</label>
                <input type="text" class="form-control" asp-for="GioiTinh">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Địa Chỉ</label>
                <input type="text" class="form-control" asp-for="DiaChi">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">SĐT</label>
                <input type="text" class="form-control" asp-for="Sdt">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">CMND/CCCD</label>
                <input type="text" class="form-control" asp-for="CmndCccd">
            </div>
            <input type="hidden" asp-for="IdKhachHangCaNhan" />
            <div class="form-group row">
                <div class="col-sm-10" style="line-height: 5; text-align: center;">
                    <button type="submit" class="btn btn-primary">Thay Đổi</button>
                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index">Trở Về</a>
            </div>
        </form>
    </main>
</div>

<style>

    .form-group {
        color: #1F618D;
        font-weight: bold;
        font-size: 15px;
    }
</style>
