<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/User">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Trang Chủ User<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/User">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading QL-->
    <div class="sidebar-heading">
        Quản Lý
    </div>

    <!-- Nav Item - Pages Quan Ly -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQLDN"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span style="font-size:15px">Quản Lý Vay Vốn Doanh Nghiệp</span>
        </a>
        <div id="collapseQLDN" class="collapse" aria-labelledby="headingQLDN" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản Lý Vay Vốn Doanh Nghiệp:</h6>
                <a class="collapse-item"  asp-controller="HoSoVayDoanhNghieps" asp-action="Index">Hồ Sơ Vay Doanh Nghiệp</a>
                <a class="collapse-item"  asp-controller="HoSoBaoCaoTcs" asp-action="Index">Hồ Sơ Báo Cáo Tài Chính</a>
                <a class="collapse-item"  asp-controller="HoSoPhaplies" asp-action="Index">Hồ Sơ Pháp Lý</a>
                <a class="collapse-item"  asp-controller="HoSoTaiSanDbs" asp-action="Index">Hồ Sơ Tài Sản Đảm Bảo</a>
                <a class="collapse-item" asp-controller="HoSoPhuongAnVays" asp-action="Index">Hồ Sơ Phương Án</a>
                <a class="collapse-item" asp-controller="LoaiHoSoTsdbs" asp-action="Index">Loại Tài Sản Đảm Bảo</a>
                <a class="collapse-item"  asp-controller="HoSoThamDinhs" asp-action="Index">Hồ Sơ Thẩm Định Tài Sản</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQLTD"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản Lý Mở Thẻ Tín Dụng</span>
        </a>
        <div id="collapseQLTD" class="collapse" aria-labelledby="headingQLKH" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản Lý Mở Thẻ Tín Dụng</h6>
                <a class="collapse-item"  asp-controller="KhachHangCaNhans" asp-action="Index">Khách Hàng Cá Nhân</a>
                <a class="collapse-item"  asp-controller="HoSoTinDungs" asp-action="Index">Hồ Sơ Tín Dụng</a>
                <a class="collapse-item"  asp-controller="TheTinDungs" asp-action="Index">Thẻ Tín Dụng</a>
            </div>
        </div>
    </li>

    <!--QLKH-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQLKH"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản Lý Khách Hàng</span>
        </a>
        <div id="collapseQLKH" class="collapse" aria-labelledby="headingQLKH" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản Lý Khách Hàng:</h6>
                <a class="collapse-item" asp-controller="KhachHangCaNhans" asp-action="Index">Khách Hàng Cá Nhân</a>
                <a class="collapse-item" asp-controller="DoanhNghieps" asp-action="Index">Doanh Nghiệp</a>
                <a class="collapse-item" asp-controller="KhachHangs" asp-action="Index">Khách Hàng</a>
                <a class="collapse-item" asp-controller="CongTyThamDinhs" asp-action="Index">Công Ty Thẩm Định Tài Sản</a>
            </div>
        </div>
    </li>

    <!--QLNV-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQLNV"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản Lý Nhân Viên</span>
        </a>
        <div id="collapseQLNV" class="collapse" aria-labelledby="headingQLNV" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản Lý Nhân Viên:</h6>
                <a class="collapse-item"  asp-controller="NhanViens" asp-action="Index">Nhân Viên</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Công Cụ Tính Lãi
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="AdminNhanViens" asp-action="TinhLai">
            <i class="fa-solid fa-check"></i>
            <span>Tính Lãi</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item"  asp-controller="DoanhNghieps" asp-action="Index">Buttons</a>
                <a class="collapse-item"  asp-controller="NhanViens" asp-action="Index">Cards</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>