@model IEnumerable<DACHUYENNGANH.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSoThue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSoThue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKhachHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKhachHang">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
