@model DACHUYENNGANH.Models.LoaiHoSoTsdb

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <h1 class="mt-4">Xóa Loại Tài Sản Đảm Bảo</h1>
            <ol class="breadcrumb mb-4">
                <a asp-controller="Home" asp-action="IndexUser" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-controller="LoaiHoSoTsdbs" asp-action="Index">Loại Hồ Sơ Đảm Bảo</a></li>
                <li class="breadcrumb-item active">Xóa Loại Tài Sản Đảm Bảo</li>
            </ol>
            <div class="card mb-4" style="margin: auto; width: 80%; border: 3px solid black; padding: 10px;line-height: 2.5;">
                <div class="card-body">
                    <div class="table-responsive" style="margin: auto; width: 60%; line-height: 2.5;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Mã Loại Tài Sản Đảm Bảo: </td>
                                    <td style="padding:7px;">@Model.IdLoaiHs</td>
                                </tr>
                                <tr>
                                    <td>Tên Loại Tài Sản Đảm Bảo: </td>
                                    <td style="padding:7px;">@Model.TenLoai</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Xóa
            </button>|
            <a class="btn btn-primary" asp-area="Admin" asp-action="Index">Trở Về</a>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Thông Báo Xóa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc chắn muốn xóa @Model.TenLoai
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <form asp-action="Delete" style="text-align: center;">
                                <input type="hidden" asp-for="IdLoaiHs" />
                                <input type="submit" value="Xóa" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

