@model DACHUYENNGANH.Models.HoSoBaoCaoTc

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="text-align: center;">
            <ol class="breadcrumb mb-4">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="fa-solid fa-house"></i>HomeAdmin</a>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="HoSoBaoCaoTcs" asp-action="Edit">Hồ Sơ Báo Cáo Tài Chính</a></li>
                <li class="breadcrumb-item active">Thêm Thông Tin Hồ Sơ Báo Cáo Tài Chính</li>
            </ol>
            <h1 class="mt-4" style="color: #1F618D;font-weight: bold;">Thêm Hồ Sơ Báo Cáo Tài Chính</h1>
        </div>
        <form asp-action="Edit" class="card shadow" style="margin: auto; width: 80% ; padding: 10px;" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="IdBctc" />*@
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Hồ Sơ Vay Doanh Nghiệp</label>
                <select asp-for="IdHsvay" class="form-control" asp-items="ViewBag.IdHsvay"></select>
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Hợp Đồng SDLD</label>
                <input type="file" accept=".pdf" type="text" class="form-control" asp-for="HopDongSdld">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Hợp Đồng Mua Bán</label>
                <input type="file" accept=".pdf" class="form-control" asp-for="HopDongMuaBan">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Thuế</label>
                <input type="file" accept=".pdf" class="form-control" asp-for="ToVat">
            </div>
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Sao Kê TKNH</label>
                <input type="file" accept=".pdf" class="form-control" asp-for="SaoKeTknh">
            </div>
           @* <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Ngày Nhận Hồ Sơ</label>
                <input type="datetime" class="form-control" asp-for="NgayNhanHs">
            </div>*@
            <div class="form-group" style="line-height: 3;">
                <label style="text-align: center;">Báo Cáo Tài Chính</label>
                <input type="file" accept=".pdf" class="form-control" asp-for="BctaiChinh">
            </div>
            <div class="form-group row">
                <div class="col-sm-10" style="line-height: 5; text-align: center;">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index">Trở Về</a>
            </div>
        </form>
    </main>
</div>
<style>

    .form-group {
        color: #1F618D;
        font-weight: bold;
        font-size: 15px;
    }
</style>


