@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="banner-right">
        <img src="/Images/dong-phuc-abbank-12.png" alt="" class="img-responsive" />
    </div>
    <div class="banner-text">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="banner-textagileinfo">
                        <h6>Welcome To Cuu Long Bank</h6>
                        <h3>For Your Personal And Professional Banking Needs.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam in consectetur.</p>

                    </div>
                </li>
                <li>
                    <div class="banner-textagileinfo">
                        <h6>The Internet banking portal</h6>
                        <h3>Ensuring a high level of customer service.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit llam in consectetur.</p>

                    </div>
                </li>
                <li>
                    <div class="banner-textagileinfo">
                        <h6>Ideal for Personal Banking</h6>
                        <h3>For Your Personal And Professional Banking Needs.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit llam in consecteelit.</p>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!--about -->
<div id="about" class="section">
    <h3 class="title-txt">
        <span>a</span>bout fly
    </h3>
    <div class="abt-container">
        <fieldset>
            <legend>Building the Finest Quality Bank.</legend>
            <div class="stats-info">
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='324' data-delay='.5' data-increment="1">324</div>
                    <div class="stats-img stat2">
                        <p>branches</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='574' data-delay='.5' data-increment="1">574</div>
                    <div class="stats-img stat2">
                        <p>personal loans</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid stat1">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='350' data-delay='.5' data-increment="1">350</div>
                    <div class="stats-img stat2">
                        <p>ATM's</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid stat1">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='874' data-delay='.5' data-increment="1">874</div>
                    <div class="stats-img stat2">
                        <p>Deposit Accounts</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="abt-pos">
                <div class="col-md-6  about-left">
                    <h3 class="title">Proin vel enim nec ipsum finibus.</h3>
                    <p class="about-bottom">Duis euismod massa ut sem fringilla blandit. </p>
                    <p>
                        Duis euismod massa ut sem fringilla blandit. Proin vel enim nec ipsum finibus.Duis euismod massa
                        ut sem fringilla blandit.
                    </p>
                    <a href="#services" class="abtlink scroll">read more</a>

                    <img src="~/user/images/c.png" class="img-responsive" alt="" />
                </div>
                <div class="col-md-6 w3ls-row">
                    <img src="~/user/images/a.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"> </div>
            </div>
        </fieldset>
    </div>
</div>
<!-- //about -->
<!-- services -->
<div class="services section" id="services">
    <div class="container2">
        <h3 class="title-txt">
            <span>s</span>ervices
        </h3>
        <h5>
            we offer products and services for your
            <span>personal</span> and
            <span>professional banking</span> needs.
        </h5>
        <div class="col-md-5 service-left-grid">
            <div class="services-left">

                <h4>
                    Lorem ipsum dolor sit amet,
                    <span>consectetur adipisicing elit, sed do</span> sit amet conse eiusmod.
                </h4>
                <p>
                    Taque earum rerum hic tenetur a sapiente delectus. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do sit amet conse eiusmod. taque earum rerum hic tenetur a sapiente delectus
                </p>
                <ul class="serv-list">
                    <li>
                        <a href="#gallery" class="abtlink scroll">view more</a>
                    </li>
                    <li>
                        <a href="#contact" class="abtlink scroll">contact us</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-7 text-center agileinfo-about-grid">
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-cc-diners-club" aria-hidden="true"></i>
                    <h6>Deposits</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-google-wallet" aria-hidden="true"></i>
                    <h6>loans</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h6>prepaid card</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h6>net banking</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-inbox" aria-hidden="true"></i>
                    <h6>mcash</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                    <h6>fund transfer</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- //services -->


<!-- gallery -->
<div class="jarallax section gallery" id="gallery">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="title-txt">
                <span>G</span>allery
            </h3>
        </div>
        <div class="w3ls_gallery_grids">
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g1.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g2.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g6.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g6.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g4.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g4.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g5.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g5.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g6.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g6.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g2.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g1.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>
    </div>
</div>
<!-- //gallery -->


