@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="banner-right">
        <img src="/Images/dong-phuc-abbank-12.png" alt="" class="img-responsive" />
    </div>
    <div class="banner-text">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="banner-textagileinfo">
                        <h6>Welcome To Cuu Long Bank</h6>
                        <h3>For Your Personal And Professional Banking Needs.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam in consectetur.</p>

                    </div>
                </li>
                <li>
                    <div class="banner-textagileinfo">
                        <h6>The Internet banking portal</h6>
                        <h3>Ensuring a high level of customer service.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit llam in consectetur.</p>

                    </div>
                </li>
                <li>
                    <div class="banner-textagileinfo">
                        <h6>Ideal for Personal Banking</h6>
                        <h3>For Your Personal And Professional Banking Needs.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit llam in consecteelit.</p>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!--about -->
<div id="about" class="section">
    <h3 class="title-txt">
        <span>a</span>bout fly
    </h3>
    <div class="abt-container">
        <fieldset>
            <legend>Building the Finest Quality Bank.</legend>
            <div class="stats-info">
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='324' data-delay='.5' data-increment="1">324</div>
                    <div class="stats-img stat2">
                        <p>branches</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='574' data-delay='.5' data-increment="1">574</div>
                    <div class="stats-img stat2">
                        <p>personal loans</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid stat1">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='350' data-delay='.5' data-increment="1">350</div>
                    <div class="stats-img stat2">
                        <p>ATM's</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid stat1">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='874' data-delay='.5' data-increment="1">874</div>
                    <div class="stats-img stat2">
                        <p>Deposit Accounts</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="abt-pos">
                <div class="col-md-6  about-left">
                    <h3 class="title">Proin vel enim nec ipsum finibus.</h3>
                    <p class="about-bottom">Duis euismod massa ut sem fringilla blandit. </p>
                    <p>
                        Duis euismod massa ut sem fringilla blandit. Proin vel enim nec ipsum finibus.Duis euismod massa
                        ut sem fringilla blandit.
                    </p>
                    <a href="#services" class="abtlink scroll">read more</a>

                    <img src="~/user/images/c.png" class="img-responsive" alt="" />
                </div>
                <div class="col-md-6 w3ls-row">
                    <img src="~/user/images/a.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"> </div>
            </div>
        </fieldset>
    </div>
</div>
<!-- //about -->
<!-- services -->
<div class="services section" id="services">
    <div class="container2">
        <h3 class="title-txt">
            <span>s</span>ervices
        </h3>
        <h5>
            we offer products and services for your
            <span>personal</span> and
            <span>professional banking</span> needs.
        </h5>
        <div class="col-md-5 service-left-grid">
            <div class="services-left">

                <h4>
                    Lorem ipsum dolor sit amet,
                    <span>consectetur adipisicing elit, sed do</span> sit amet conse eiusmod.
                </h4>
                <p>
                    Taque earum rerum hic tenetur a sapiente delectus. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do sit amet conse eiusmod. taque earum rerum hic tenetur a sapiente delectus
                </p>
                <ul class="serv-list">
                    <li>
                        <a href="#gallery" class="abtlink scroll">view more</a>
                    </li>
                    <li>
                        <a href="#contact" class="abtlink scroll">contact us</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-7 text-center agileinfo-about-grid">
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-cc-diners-club" aria-hidden="true"></i>
                    <h6>Deposits</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-google-wallet" aria-hidden="true"></i>
                    <h6>loans</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h6>prepaid card</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h6>net banking</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-inbox" aria-hidden="true"></i>
                    <h6>mcash</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 service-subgrids">
                <div class="w3ls-about-grid">
                    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                    <h6>fund transfer</h6>
                    <p> Taque earum rerum hitaque tenetur rum sapiente</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- //services -->
<!-- faq -->
<div class="section faq" id="card">
    <div class="container">
        <h3 class="title-txt text-center">
            <span>T</span>hẻ Tín Dụng
        </h3>

        <div class="faq-info">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab">Thẻ Tín Dụng Quốc Tế</a>
                </li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Thẻ Ghi Nợ Quốc Tế</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Thẻ Ghi Nợ Nội Địa</a>
                </li>
               
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="testi">
                    <div class="faqmain-info">
                        <div class="faq-subinfo">
                            <div class="col-md-6  latest-grid">
                                <div class="faq-left">
                                    <h5>
                                        <img src="/Images/napas.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>
                                <div class="faq-left">
                                    <h5>
                                         <img src="/Images/master.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>
                            </div>
                            <div class="col-md-6 latest-grid">
                                <div class="faq-left">
                                    <h5>
                                         <img src="/Images/visa.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>
                                <div class="faq-left">
                                    <h5>
                                         <img src="/Images/visa1.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="faqmain-info">
                        <div class="faq-subinfo">
                            <div class="col-md-6  latest-grid">
                                <div class="faq-left">
                                    <h5>
                                         <img src="/Images/visa.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> conse eiusmod ed do sit amet ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>
                                <div class="faq-left">
                                    <h5>
                                         <img src="/Images/visa1.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>

                            </div>
                            <div class="col-md-6 latest-grid">
                                <div class="faq-left">
                                    <h5>
                                         <img src="/Images/napas.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> conse eiusmod ed do sit amet ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>
                               
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <div class="faqmain-info">
                        <div class="faq-subinfo">
                            <div class="col-md-6  latest-grid">
                                <div class="faq-left">
                                    <h5>
                                        <img src="/Images/master.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>

                            </div>
                            <div class="col-md-6 latest-grid">
                                <div class="faq-left">
                                    <h5>
                                        <img src="/Images/master.jpg" alt="" class="img-responsive" />
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //faq -->

<!-- gallery -->
<div class="jarallax section gallery" id="gallery">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="title-txt">
                <span>G</span>allery
            </h3>
        </div>
        <div class="w3ls_gallery_grids">
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g1.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g2.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g6.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g6.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g4.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g4.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g5.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g5.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g6.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g6.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g2.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="/images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                            <figure>
                                <img src="~/user/images/g1.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>
    </div>
</div>
<!-- //gallery -->
<!-- contact -->
<div class="contact-main section" id="contact">
    <div class="container">
        <h3 class="title-txt">
            <span>c</span>ontact us
        </h3>
        <div class="col-md-4 contact-leftgrid">
            <div class="contact-g1">
                <h6>Get In Touch</h6>
                <ul class="address">
                    <li>
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        (+84) 78 444 0198
                    </li>
                    <li>
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                        <a href="mailto:example@email.com"> cuulongbank@gmail.com</a>
                    </li>
                    <li>
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                        Lê Lợi Phường 4 Quận Gò Vấp

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 contact-center">
            <div class="col-md-4 contact-g2">
                <h6>Follow us</h6>
                <div class="address-grid">

                    <ul class="social-icons3">

                        <li>
                            <a href="#" class="s-iconfacebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="s-icontwitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="s-icondribbble">
                                <span class="fa fa-dribbble" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="s-iconbehance">
                                <span class="fa fa-behance" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 contact-g3">
                <div class="subscribe-grid ">
                    <p>subscribe To receive helpful articles, customer alerts,services & more.</p>

                    <form action="#" method="post">
                        <input type="email" placeholder="Your Email" name="Subscribe" required="">
                        <button class="btn1">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="map text-center" id="map" style="height: 400px; width:800px;">
        <h2>Our wide range of Branches </h2>

        @*<img src="~/user/images/map.jpg" alt="" class="img-responsive" />*@

        <script>
            let map;

            function initMap() {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: 10.8189125, lng: 106.6840459 },
                    zoom: 17,
                });
            }

            window.initMap = initMap;
        </script>
        <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2nguFitwTU1x78MssQTrmMCtBFB54DeY&callback=initMap">
        </script>
    </div>
</div>
<!-- contact -->


